#TEST_CLIGHTNING_CONFIG={"unixSockPath":"xxx"}
#TEST_CLIGHTNING_GETNODEURI={"result":"xxx@127.0.0.1:9735"}
#TEST_CLIGHTNING_OPENCHANNEL={"remoteId":"xxx","localAmt":20000,"pushAmt":0,"makePrivate":0}
#TEST_CLIGHTNING_PAYINVOICE={"invoice":"xxx"}
#TEST_CLIGHTNING_ADDINVOICE={"amount":50000}
#TEST_CLIGHTNING_NETWORK=testnet

#TEST_GETALBY_CONFIG={"secret":"lndhub://xxx:xxx@https://ln.getalby.com"}
#TEST_GETALBY_PAYINVOICE={"invoice":"xxx"}
#TEST_GETALBY_ADDINVOICE={"amount":50000}
#TEST_GETALBY_GETINVOICESTATUS={"paymentHash":"xxx","settled":true}

#TEST_LNBITS_CONFIG={"baseUrl":"https://legend.lnbits.com","adminKey":"xxx"}
#TEST_LNBITS_PAYINVOICE={"invoice":"xxx"}
#TEST_LNBITS_ADDINVOICE={"amount":50000}
#TEST_LNBITS_GETINVOICESTATUS={"paymentHash":"xxx","settled":false}

#TEST_LND_CONFIG={"cert":{"data":"xxx"},"protocol":"https","hostname":"127.0.0.1:8080","macaroon":{"data":"xxx"}}
#TEST_LND_GETNODEURI={"result":"xxx@127.0.0.1:9735"}
#TEST_LND_OPENCHANNEL={"remoteId":"xxx","localAmt":20000,"pushAmt":0,"makePrivate":0}
#TEST_LND_PAYINVOICE={"invoice":"xxx"}
#TEST_LND_ADDINVOICE={"amount":5000}
#TEST_LND_GETINVOICESTATUS={"paymentHash":"xxx","preimage":"xxx","settled":true}
#TEST_LND_NETWORK=testnet

#TEST_LNDHUB_CONFIG={"secret":"lndhub://xxx:xxx@https://lndhub.io"}
#TEST_LNDHUB_PAYINVOICE={"invoice":"xxx"}
#TEST_LNDHUB_ADDINVOICE={"amount":50000}
#TEST_LNDHUB_GETINVOICESTATUS={"paymentHash":"xxx","settled":true}

#TEST_OPENNODE_CONFIG={"hostname":"dev-api.opennode.co","apiKey":"xxx"}
#TEST_OPENNODE_PAYINVOICE={"invoice":"xxx"}
#TEST_OPENNODE_ADDINVOICE={"amount":50000}
#TEST_OPENNODE_GETINVOICESTATUS={"paymentHash":"xxx","settled":true}
